body {
  background-color: #aaa9a9;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

/* Style the header */
header {
  background-color: #363636;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.language-selector {
  text-align: center;
  margin-top: 10px; /* Adjust the spacing as needed */
}

.flag-link {
  display: inline;
  margin-right: 10px; /* Adjust the spacing as needed */
}


.menu-header {
  width: 250px;
  height: 62px;
  padding-left: 10px;
  background-color: #3b3b3b;
  position: fixed;
  top:0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.horizontal-display {
  display: flex;
}

aside {
  background-color: #3b3b3b;
  color: white;
  width: 260px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
}

aside::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

aside::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

aside::-webkit-scrollbar-track {
  background: #333; /* Color of the scrollbar track */
}

.content {
  flex: 1;
  padding-left: 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.textbox {
  position: relative;
  max-width: 900px;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  background-color: #f0efef;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.textbox ul {
  list-style-type: disc;
  margin: 20px;
}

.textbox a {
  display: inline;
  text-decoration: none;
  color: blue;
  font: inherit;
  padding: 0px;
}

.custom-break {
  display:block;
  height: 12px;
  width: fit-content;
  border: none;
}

.textbox a:hover {
  text-decoration: underline;
}

/* Media Query for mobile phone displays */
@media (max-width: 768px) {
  
  main {
    padding: 10px;
  }

  aside {
    left:-280px;
    transition: left 0.3s ease;
    padding: 10px 10px 10px 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    box-sizing: border-box;
  }

  .textbox {
    margin-bottom: 1rem;
    padding: 40px 15px 30px 15px;
  }

  #toggleSidebarButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    z-index: 2;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
  
  aside {
    width: 200px;  
  }

  .textbox {
      max-width: 700px;
  }

  .menu-header {
    width: 200px;
  }
  
}